body {
  background: red;
}

#title{
  margin-top: 15%;
}
#header{
  font-family: 'Gugi', cursive;
  font-size: 5rem;
}

#quoteCol{
  height: 10rem;
  margin-top: 3rem;
  font-size: 20px;
}


i{
  padding-left: 10%;
}

#tweetCol{
  margin-right: 10px;
}

#footer{
  position: absolute;
  bottom: 0;
  height: 3rem;
  width: 100%;
  text-align: center;
}
