body {
  background: red;
}

#title{
  margin-top: 15%;
}
#header{
  font-family: 'Gugi', cursive;
  font-size: 5rem;
}

#quoteCol{
  height: 10rem;
  margin-top: 5%;
  font-size: 20px;
}


i{
  padding-left: 10%;
}

#tweetCol{
  margin-right: 10px;
}

